* {
  margin: 0px;
  padding: 0px;
}

#home h1 {
  margin: 50px 0px 20px 0px;
}

#about h1 {
  margin: 50px 0px 20px 0px;
}

#review h1 {
  margin: 50px 0px 20px 0px;
}

#product h1 {
  margin: 50px 0px 20px 0px;
}

.card {
  margin-bottom: 10px;
}

.card-top img {
  width: 350px;
  height: 350px;
}

#contact {
  margin-bottom: 15px;
}

#contact textarea {
  resize: none;
}

#home img {
  height: 480px;
}

